body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Copiado */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #585858;
  min-height: 100%;
}

header {
  color: white;
  padding: 3rem 0;
  
}

form{
  padding-bottom: 10em;
}


h1 {
  color: white;
  font-weight: 900;
}
.uk-button {
  width: 100%;
  background-color: #e9ec3a;
}

.uk-card-default{
  background-color: #c0bdbd;
  box-shadow: 10px 10px 5px rgba(29, 29, 29, 0.582);
  border-radius: 20px;
  margin-top: -5em;
  margin-bottom: 3em;

}

.img_event {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.uk-input, .uk-select{
  color: rgb(134, 134, 134);
  background-color: #b7b90f;
}

.box_padding{
  padding-bottom: 10em;
}